<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NyondoStock</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!-- <h1 class="hero-title">NYONDO STOCK HARDWARE</h1> -->

    <div class="logo">
      <img src="/Images/logo2.png" alt="Nyondo Logo" />
    </div>

    <div class="hero">
      <div class="overlay">
        <div class="hero-content">
          <h2>Welcome to NyondoStock</h2>
          <p>
            Your one-stop shop for all your stock needs. Explore our wide range
            of products and find the best deals.
          </p>
          <!-- cards -->
          <div class="cards">
            <div class="card">
              <h3>Fast and Simple</h3>
              <p>Easy to use system designed for the small businesses.</p>
            </div>
            <div class="card">
              <h3>Sales Tracking</h3>
              <p>Monitor daily sales and revenue in real time</p>
            </div>
             <div class="card">
              <h3>Reports & Insights</h3>
              <p>Get clear reports to make better business decisions.</p>
            </div>
            <div class="card">
              <h3>Inventory Management</h3>
              <p>Track and manage your stock easily in one place.</p>
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-primary btn-lg">
            <a href="/login" class="btn">Get Started</a>
          </button>
          <!-- <button>
            <a href="SignUp.html" class="btn">Sign Up</a>
          </button> -->
        </div>
      </div>
    </div>
    <!-- Powerhouse footer -->
     <footer class="footer">
  <div class="footer-content">
    <p class="footer-copy">
      © 2026 NyondoStock. All rights reserved.
    </p>
  </div>
</footer>
  </body>
</html>
